In [234]:
import sagemaker
from sklearn.model_selection import train_test_split
import pandas as pd
import boto3

sm_boto3 = boto3.client('sagemaker')
sess = sagemaker.Session()
reigion = sess.boto_session.region_name
bucket = 'mllearning'#mention the S3 bucket name
print('Using bucket ' + bucket)

Using bucket mllearning

In [235]:
df = pd.read_csv('mobile_price_class_train.csv')
#df = pd.read_csv('mobile_price_class_test.csv')

In [236]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [237]:
df.shape

(2000, 21)

In [238]:
#['low_risk', 'high_risk'], [0, 1]
df['price_range'].value_counts(normalize=True)

price_range
1    0.25
2    0.25
3    0.25
0    0.25
Name: proportion, dtype: float64

In [239]:
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [240]:
df.shape

(2000, 21)

In [241]:
df.isnull().mean()*100

battery_power    0.0
blue             0.0
clock_speed      0.0
dual_sim         0.0
fc               0.0
four_g           0.0
int_memory       0.0
m_dep            0.0
mobile_wt        0.0
n_cores          0.0
pc               0.0
px_height        0.0
px_width         0.0
ram              0.0
sc_h             0.0
sc_w             0.0
talk_time        0.0
three_g          0.0
touch_screen     0.0
wifi             0.0
price_range      0.0
dtype: float64

In [242]:
features = list(df.columns)
features

['battery_power',
 'blue',
 'clock_speed',
 'dual_sim',
 'fc',
 'four_g',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time',
 'three_g',
 'touch_screen',
 'wifi',
 'price_range']

In [243]:
label = features.pop(-1)
label

'price_range'

In [244]:
x = df[features]
y = df[label]

In [245]:
x.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [246]:
y.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [247]:
x.shape

(2000, 20)

In [248]:
y.value_counts()

price_range
1    500
2    500
3    500
0    500
Name: count, dtype: int64

In [249]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15, random_state=0)

In [250]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(1700, 20) (300, 20) (1700,) (300,)

In [251]:
trainX = pd.DataFrame(x_train)
trainX[label] = y_train

testX = pd.DataFrame(x_test)
testX[label] = y_test

In [252]:
print(trainX.shape, testX.shape)

(1700, 21) (300, 21)

In [253]:
trainX.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1452,1450,0,2.1,0,1,0,31,0.6,114,5,...,1573,1639,794,11,5,9,0,1,1,1
1044,1218,1,2.8,1,3,0,39,0.8,150,7,...,1122,1746,1667,10,0,12,0,0,0,1
1279,1602,0,0.6,0,12,0,58,0.4,170,1,...,1259,1746,3622,17,2,17,0,1,1,3
674,1034,0,2.6,1,2,1,45,0.3,190,3,...,182,1293,969,15,1,7,1,0,0,0
1200,530,0,2.4,0,1,0,32,0.3,88,6,...,48,1012,959,17,7,6,0,1,0,0

In [254]:
trainX.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [255]:
testX.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [256]:
trainX.to_csv('train.csv', index=False)
testX.to_csv('test.csv', index=False)

In [257]:
sk_prefix = 'sagemaker/mobile_price_classification/sklearncontainer'
trainpatch = sess.upload_data(path="train.csv", bucket = bucket, key_prefix = sk_prefix)
testpatch = sess.upload_data(path='test.csv', bucket = bucket, key_prefix=sk_prefix)

In [258]:
%%writefile script.py

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
import pandas as pd
import numpy as np
import os
import joblib   
import argparse
import pathlib
from io import StringIO
import boto3

def model_fn(model_dir):
    clf = joblib.load(os.path.join(model_dir, "model.joblib"))
    return clf

if __name__ == "__main__":
    print("[INFO] Extracting arguments")
    parser = argparse.ArgumentParser()


    # hyperparameters sent by the client are passed as command-line arguments to the script.
    parser.add_argument('--n-estimators', type=int, default=100)
    parser.add_argument('--random-state', type=int, default=0)

    #data, model, and output directories
    parser.add_argument("--model-dir", type=str, default=os.environ.get("SM_MODEL_DIR"))
    parser.add_argument("--train", type=str, default=os.environ.get("SM_CHANNEL_TRAIN"))
    parser.add_argument("--test", type=str, default=os.environ.get("SM_CHANNEL_TEST"))
    parser.add_argument("--train-file", type=str, default="train.csv")
    parser.add_argument("--test-file", type=str, default="test.csv")

    args, _ = parser.parse_known_args()


    print("[INFO] Reading data")
    print()
    train_df = pd.read_csv(os.path.join(args.train, args.train_file))
    test_df = pd.read_csv(os.path.join(args.test, args.test_file))

    features = list(train_df.columns)
    label = features.pop(-1)

    print("building training and testing datasets")
    print()
    x_train = train_df[features]
    y_train = train_df[label]
    x_test = test_df[features]
    y_test = test_df[label]

    print("Column order:")
    print(features)
    print()

    print("Label column is:",label)
    print()
    print("Data Shape: ")
    print()
    print("--SHAPE OF TRAINING DATA--")
    print("X_train:", x_train.shape)
    print("Y_train:", y_train.shape)
    print()
    print("--SHAPE OF TESTING DATA--")
    print("X_test:", x_test.shape)
    print("Y_test:", y_test.shape)
    print()

    print("Training Random Forest Model")
    print()
    model = RandomForestClassifier(n_estimators=args.n_estimators, random_state=args.random_state)
    model.fit(x_train, y_train)
    print()

    model_path = os.path.join(args.model_dir, "model.joblib")
    joblib.dump(model, model_path)
    print("Model saved at:", model_path)
    print()

    y_pred = model.predict(x_test)
    testaccuracy = accuracy_score(y_test, y_pred)
    testreport = classification_report(y_test, y_pred)

    print()
    print("--TESTING REPORT--")
    print()
    print("Total Rows are: ", x_test.shape[0])
    print("Accuracy: ", testaccuracy)
    print('Testing report: ', testreport)

Overwriting script.py

In [259]:
from sagemaker.sklearn.estimator import SKLearn

FRAMEWORK_VERSION = '0.23-1'

sklearn_estimator = SKLearn(
    entry_point='script.py',
    role= "arn:aws:iam::544882529124:role/test1",
    instance_count=1,
    instance_type='ml.m5.large',
    framework_version=FRAMEWORK_VERSION,
    base_job_name='sklearn-mobile-price-classification',
    hyperparameters = {"n_estimators": 100, "random_state": 0},
    use_spot_instances=True,
    max_wait=7200,
    max_run=3600,
)

In [260]:
sklearn_estimator.fit({"train": 's3://mllearning/sagemaker/mobile_price_classification/sklearncontainer/train.csv', "test": 's3://mllearning/sagemaker/mobile_price_classification/sklearncontainer/test.csv'})

INFO:sagemaker:Creating training-job with name: sklearn-mobile-price-classification-2024-07-30-05-44-13-168

2024-07-30 05:44:14 Starting - Starting the training job...
2024-07-30 05:44:29 Starting - Preparing the instances for training..

In [ ]:
sklearn_estimator.latest_training_job.wait(logs='None')
artifact = sm_boto3.describe_training_job(
    TrainingJobName=sklearn_estimator.latest_training_job.name
)['ModelArtifacts']['S3ModelArtifacts']

print('Model artifact saved at:', artifact)

In [ ]:
from sagemaker.sklearn.model import SKLearnModel
from time import gmtime, strftime
model_name = "sklearn-mobile-price-classification-" + strftime("%Y-%m-%d-%H-%M-%S", gmtime())
model = SKLearnModel(
    model_data=artifact,
    role="arn:aws:iam::544882529124:role/test1",
    entry_point="script.py",
    framework_version=FRAMEWORK_VERSION
)

In [ ]:
endpoint_name = "sklearn-mobile-price-classification-" + strftime("%Y-%m-%d-%H-%M-%S", gmtime())
print('Endpoint name: ', endpoint_name)

predictor = model.deploy(
    initial_instance_count=1,
    instance_type='ml.m5.large',
    endpoint_name=endpoint_name
)

In [ ]:
endpoint_name

In [ ]:
testX[features][0:2].values.tolist()

In [ ]:
print(predictor.predict(testX[features][0:2].values.tolist()))